html{
    background-color: black;
    text-align: center;
    color:white;
}

h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: capitalize;
}

img{
    margin-top: 150px;
    width:100%;
    border: 5px solid white;
}

div{
    width: 50%;
    margin-left: 25%;
}