/* Write your code here: */
/*group selectors*/
h1, h2{
    color: blueviolet;
}

/*parent direct-child relationship*/
.box > p {
    color: firebrick;
}

/*ancestor descendant relationship*/
.box li{
    color: blue;
}

/**/