/* Write your code here: */
/*group selectors*/
h1, h2{
    color: blueviolet;
}

/*parent direct-child relationship*/
.box > p {
    color: firebrick;
}

/*ancestor descendant relationship*/
.box li{
    color: blue;
}

/*chaining selectors*/
li.done{
    color: seagreen;
}

/*combining combiners - like using two different */
ul p.done{
    font-size: 0.5rem;
}